<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Travel together</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='travel-together.css') }}"
    />
    <link
      rel="resources"
      href="{{ url_for('static', filename='resources') }}"
    />
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="{{ url_for('main.index') }}">
          <img src="../../static/resources/logo.png" alt="Home" class="header-icon header-logo" />
        </a>
        <h1>Travel together&trade;</h1>
        <img src="../../static/resources/Defaultpfp.png" alt="Profile" class="header-icon" />
      </div>
      
      {% if current_user.is_authenticated: %}
      <a href="{{ url_for('auth.logout_post') }}">Logout</a>
      {% endif %}
    </header>
    <section class="content">{% block content %}{% endblock %}</section>
    <footer><small>Developed for Web applications</small></footer>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='travel-together.js') }}"></script>
  </body>
</html>
