<div class="feed">
  {% if not trip.response_to %}
    <a
      href="{{ url_for('main.trip', trip_id=trip.id) }}"
      style="text-decoration: none; color: inherit"
    >
  {% endif %}

      {% if not trip.response_to %}
        <div class="trip original" data-trip-id="{{ trip.id }}">
      {% else %}
        <div class="trip response">
      {% endif %}
          <div class="metadata">
            <img
              src="../../static/resources/Defaultpfp.png"
              alt="Profile picture"
              class="avatar"
            />
            <span class="username">{{ trip.creator.name }}</span>
            <span class="timestamp">{{ trip.timestamp }}</span>
          </div>
          <div class="content">{{ trip.text }}</div>
        </div>

  {% if not trip.response_to %}
    </a>
  {% endif %}
</div>

