<a class="trip-link" href="{{ url_for('main.trip', trip_id=trip.id) }}">
    <div class="trip-container">
        <img class="trip-photo" src="../static/resources/example-trip-1.jpg" alt="Avatar">
        <h2 class="trip-title">{{ trip.title }}</h2>    
        <p class="trip-time-created">Created {{ trip.timestamp|time_ago }} by {{ trip.creator.name }}</p>
        <p class="trip-description">{{ trip.description }}</p>
        <p class="trip-origin">Origin: {{ trip.origin }}</p>
        <p class="trip-destinations">Destination(s): {{ trip.destinations }}</p>
    </div>
</a>



