html {
    font-size: 1vw;
}

body {
  margin: 0;
  padding: 0;
  background: #f2e0c3;
  color: black;
  font-family: arial, sans-serif;
  font-size: 1rem;
  padding-top: 60px;
}

body footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: #888;
  pointer-events: none;
}

.footer-padding{
  padding-bottom: 30px;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }

p, span, label, input, textarea, select {
    font-size: 1rem;
}

/*============================== HEADER ==============================*/

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: calc(100% - 20px);  /* subtract padding from total width */
  font-weight: strong;
  padding: 0px 10px;
  z-index: 99;  /* keeps it above everything */

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
  background-color: rgba(100, 100, 100, 0.2);
  border-bottom: 0.25vh solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
}

.header-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  object-fit: cover;
  border-radius: 4px;
  /* Edge smoothing */
}

.header-logo {
  transition: all 0.2s ease-in-out;
}

/* hover effect */
.header-logo:hover {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

/* click / active effect */
.header-logo:active {
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.7));
  transform: translateY(1px);
  /* optional pressed effect */
}

.header-container h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.spacer {
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  gap: 5px;
}

.logout-button {
  margin: 0;
  padding: 5px 10px;
  background-color: #900000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  text-shadow: none;
}


/*============================== FEED ==============================*/

/* MIGRATED TO TRIPS_TEMPLATE.CSS */

/*============================== FORM ==============================*/
.range-slider {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.range-slider input[type="range"] {
  width: 100%;
  /* or 100% */
}