{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/trip_form.css') }}" />
<style>
    .entry-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6px;
    }

    .checkbox-wrapper {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 1rem;
    }

    select {
        margin-top: 0;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/edit_trip_form.js') }}"></script>
<script src="https://cdn.jsdelivr.net/gh/jahiidh/double-range-slider/d.slider.js"></script>
{% endblock %}


{% block content %}<div id="formPopupModal">
    <form id="trip-form" data-user-age="{{ current_user.age }}"
        action="{{ url_for('main.edit_trip', trip_id=trip.id) }}" method="POST" enctype="multipart/form-data">
        <h2 class="form-header">Edit your travel proposal!</h2>

        <div class="form-step active-step" id="step-1">
            <div class="form-entries">
                <div class="single-entry">
                    <label for="title">Trip Title</label>
                    <input type="text" id="title" name="title" value="{{ trip.title }}" placeholder="Trip Title"
                        required>
                </div>

                <div class="single-entry">
                    <label for="description">Trip Description</label>
                    <textarea id="description" name="description" placeholder="Trip Description"
                        required>{{ trip.description }}</textarea>
                </div>

                <div class="single-entry">
                    <div class="entry-header">
                        <label for="status">Status</label>

                        <label class="checkbox-wrapper">
                            <span>Finalize</span>
                            <input type="checkbox" name="status_finalized" {% if trip.status_finalized %}checked{% endif
                                %}>
                        </label>
                    </div>
                    <select id="status" name="status" placeholder="Trip Status" required>{{ trip.status }}

                        {% for status in statuses %}
                        <option value="{{ status.value }}" {% if status==trip.status.name %}selected{% endif %}>
                            {{ status.name.replace('_', ' ').title() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="navigation-buttons">
                <div></div>
                <div class="progress">⬤&nbsp;&nbsp;○&nbsp;&nbsp;○</div>
                <button type="button" id="nextStep" class="navigation-button">Next</button>
            </div>
        </div>

        <div class="form-step" id="step-2">
            <h2 class="step-header">Route and Dates</h2>
            <div class="form-entries">
                <div class="single-entry" id="route-section">
                    <div class="entry-header">
                        <label for="departure_location">Departure Location</label>

                        <label class="checkbox-wrapper">
                            <span>Finalize</span>
                            <input type="checkbox" name="origin_finalized" {% if trip.origin_finalized %}checked{% endif
                                %}>
                        </label>
                    </div>
                    <input type="text" id="departure_location" name="departure_location" value="{{ trip.origin or '' }}"
                        placeholder="Departure location (optional)...">

                    <div class="entry-header">
                        <label for="title">Destinations</label>

                        <label class="checkbox-wrapper">
                            <span>Finalize</span>
                            <input type="checkbox" name="destinations_finalized" {% if trip.destinations_finalized
                                %}checked{% endif %}>
                        </label>
                    </div>
                    <div id="destination-container">
                        {% set dest_list = trip.destinations.split(',') if trip.destinations else [] %}
                        {% for dest in dest_list %}
                        <div class="destination-entry">
                            <input type="text" class="destination" name="destination" placeholder="Destination"
                                value="{{ dest }}" required>
                        </div>
                        {% endfor %}
                    </div>
                    <span id="add-destination" class="add-destination">Add another destination</span>
                </div>
                <div class="single-entry">
                    <div class="entry-header">
                        <label for="title">Dates</label>

                        <label class="checkbox-wrapper">
                            <span>Finalize</span>
                            <input type="checkbox" name="dates_finalized" {% if trip.dates_finalized %}checked{% endif
                                %}>
                        </label>
                    </div>
                    <div class="date-entries">
                        <label for="start">From:</label>
                        <input type="date" id="start" name="start"
                            value="{{ trip.start_date if trip.start_date else '' }}" required>
                        <label for="end">To:</label>
                        <input type="date" id="end" name="end" value="{{ trip.end_date if trip.end_date else '' }}"
                            required>
                    </div>
                </div>
            </div>
            <div class="navigation-buttons">
                <button type="button" id="prevStep" class="navigation-button">Back</button>
                <div class="progress">○&nbsp;&nbsp;⬤&nbsp;&nbsp;○</div>
                <button type="button" id="nextStep" class="navigation-button">Next</button>
            </div>
        </div>

        <div class="form-step" id="step-3">
            <h2 class="step-header">Preferences (Optional)</h2>
            <div class="form-entries">
                <div class="single-entry3">
                    <input type="checkbox" id="budgetToggle">
                    <label for="budget" class="disabled">Budget:</label>
                    <input type="number" id="budget" name="budget" value="{{ trip.budget or '' }}">
                    <div class="checkbox-wrapper">
                        <label>
                            <input type="checkbox" name="budget_finalized" {% if trip.budget_finalized %}checked{% endif %}>
                            Finalize
                        </label>
                    </div>
                </div>
                <div class="single-entry3">
                    <input type="checkbox" id="maxMembersToggle">
                    <label for="max_members" class="disabled">Maximum Trip Members:</label>
                    <input type="number" id="max_members" name="max_members" value="{{ trip.max_travelers or '' }}">
                    <div class="checkbox-wrapper">
                        <label>
                            <input type="checkbox" name="max_travelers_finalized" {% if trip.max_travelers_finalized
                                %}checked{% endif %}>
                            Finalize
                        </label>
                    </div>
                </div>
                <div class="single-entry3">
                    <input type="checkbox" id="ageToJoinToggle" name="use_age_range">
                    <label for="ageToJoinToggle" class="disabled">Age to Join:</label>

                    <div class="double-range">
                        <div class="slider-container">
                            <div class="range-slider">
                                <span class="range-fill"></span>
                            </div>

                            <div class="range-input">
                                <input type="range" class="min" min="0" max="100" value="{{ trip.min_age or 30 }}"
                                    step="1" id="age-min-slider">
                                <input type="range" class="max" min="0" max="100" value="{{ trip.max_age or 70 }}"
                                    step="1" id="age-max-slider">
                            </div>

                            <div class="text-input">
                                <label for="min-age" class="range-label">From:</label>
                                <input type="number" name="min_age" id="min-age" value="{{ trip.min_age or 30 }}">
                                <label for="max-age" class="range-label max-label">To:</label>
                                <input type="number" name="max_age" id="max-age" value="{{ trip.max_age or 70 }}">
                            </div>
                        </div>
                    </div>
                    <div class="checkbox-wrapper">
                        <label>
                            <input type="checkbox" name="age_range_finalized" {% if trip.age_range_finalized %}checked{%
                                endif %}>
                            Finalize
                        </label>
                    </div>
                </div>
                <div class="single-entry3">
                    <label class="trip-image">Trip Image: </label>
                    <input type="file" id="trip_image" name="trip_image" accept="image/*">
                </div>
            </div>
            <div class="navigation-buttons">
                <button type="button" id="prevStep" class="navigation-button">Back</button>
                <div class="progress">○&nbsp;&nbsp;○&nbsp;&nbsp;⬤</div>
                <button type="submit" class="navigation-button" id="submit-button">Submit</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}