{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/trip_form.css') }}" />
<style>
    .entry-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6px;
    }

    .checkbox-wrapper {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 1rem;
    }

    select {
        margin-top: 0;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/edit_trip_form.js') }}"></script>
<script src="https://cdn.jsdelivr.net/gh/jahiidh/double-range-slider/d.slider.js"></script>
{% endblock %}


{% block content %}<div id="formPopupModal">
    <form id="trip-form" data-user-age="{{ current_user.age }}"
        action="{{ url_for('main.edit_trip', trip_id=trip.id) }}" method="POST" enctype="multipart/form-data">
        <h2 class="form-header">Edit your travel proposal!</h2>

        <div class="form-step active-step" id="step-1">
            <div class="form-entries">
                <div class="single-entry">
                    <label for="title">Trip Title</label>
                    <input type="text" id="title" name="title" value="{{ trip.title }}" placeholder="Trip Title"
                        required>
                </div>

                <div class="single-entry">
                    <label for="description">Trip Description</label>
                    <textarea id="description" name="description" placeholder="Trip Description"
                        required>{{ trip.description }}</textarea>
                </div>

                <div class="single-entry">
                    <label for="status">Status</label>
                    <select id="status" name="status" placeholder="Trip Status" required>
                        {% for status in statuses %}
                        <option value="{{ status.value }}" {% if status.value==trip.status %}selected{% endif %}>
                            {{ status.name.replace('_', ' ').title() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="navigation-buttons">
                <div></div>
                <div class="progress">⬤&nbsp;&nbsp;○&nbsp;&nbsp;○</div>
                <button type="button" id="nextStep" class="navigation-button">Next</button>
            </div>
        </div>

        <div class="form-step" id="step-2">
            <h2 class="step-header">Route and Dates</h2>
            <div class="form-entries">
                <div class="single-entry" id="route-section">
                    <div class="entry-header {% if trip.origin_finalized %}finalized{% endif %}">
                        <label for="departure_location">Departure Location</label>

                        <label class="checkbox-wrapper {% if trip.origin_finalized %}finalized{% endif %}">
                            <span>Finalize</span>
                            <input type="checkbox" name="origin_finalized" id="originFinalizedToggle" {% if
                                trip.origin_finalized %}checked{% endif %} data-locked="{{ 'true' if trip.origin_finalized else 'false' }}">
                        </label>
                    </div>
                    <input type="text" id="departure_location" name="departure_location" value="{{ trip.origin or '' }}"
                        placeholder="Departure location (optional)..." {% if trip.origin_finalized %}class="finalized" disabled{% endif %}>


                    <div class="entry-header">
                        <label for="title">Destinations</label>

                        <label class="checkbox-wrapper {% if trip.destinations_finalized %}finalized{% endif %}">
                            <span>Finalize</span>
                            <input type="checkbox" name="destinations_finalized" id="destinationsFinalizedToggle" {% if
                                trip.destinations_finalized %}checked{% endif %} data-locked="{{ 'true' if trip.destinations_finalized else 'false' }}">
                        </label>
                    </div>
                    <div id="destination-container">
                        {% set dest_list = trip.destinations.split(',') if trip.destinations else [] %}
                        {% for dest in dest_list %}
                        <div class="destination-entry" >
                            <input type="text" class="destination {% if trip.destinations_finalized %}finalized{% endif %}" name="destination" placeholder="Destination"
                                value="{{ dest }}" required {% if trip.destinations_finalized %}disabled{% endif %}>
                        </div>
                        {% endfor %}
                    </div>
                    <span id="add-destination" class="add-destination" {% if trip.destinations_finalized %}hidden{% endif %}>Add another destination</span>
                </div>
                <div class="single-entry">
                    <div class="entry-header">
                        <label for="title">Dates</label>

                        <label class="checkbox-wrapper">
                            <span>Finalize</span>
                            <input type="checkbox" name="dates_finalized" id="datesFinalizedToggle" {% if
                                trip.dates_finalized %}checked{% endif %} data-locked="{{ 'true' if trip.dates_finalized else 'false' }}">
                        </label>
                    </div>
                    <div class="date-entries">
                        <label for="start">From:</label>
                        <input type="date" id="start" name="start"
                            value="{{ trip.start_date.strftime('%Y-%m-%d') or '' }}" required>
                        <label for="end">To:</label>
                        <input type="date" id="end" name="end" value="{{ trip.end_date.strftime('%Y-%m-%d') or '' }}"
                            required>
                    </div>
                </div>
            </div>
            <div class="navigation-buttons">
                <button type="button" id="prevStep" class="navigation-button">Back</button>
                <div class="progress">○&nbsp;&nbsp;⬤&nbsp;&nbsp;○</div>
                <button type="button" id="nextStep" class="navigation-button">Next</button>
            </div>
        </div>

        <div class="form-step" id="step-3">
            <h2 class="step-header">Preferences (Optional)</h2>
            <div class="form-entries">
                <div class="single-entry3">
                    <input type="checkbox" id="budgetToggle" {% if trip.budget is not none %}checked{% endif %}>
                    <label for="budget">Budget:</label>
                    <input type="number" id="budget" name="budget" value="{{ trip.budget or '' }}">
                    <div class="checkbox-wrapper">
                        <label>
                            <input type="checkbox" name="budget_finalized" {% if trip.budget_finalized %}checked{% endif
                                %} data-locked="{{ 'true' if trip.budget_finalized else 'false' }}">
                            Finalize
                        </label>
                    </div>
                </div>
                <div class="single-entry3">
                    <input type="checkbox" id="maxMembersToggle" {% if trip.max_travelers is not none %}checked{% endif
                        %}>
                    <label for="max_members">Maximum Trip Members:</label>
                    <input type="number" id="max_members" name="max_members" value="{{ trip.max_travelers or '' }}">
                    <div class="checkbox-wrapper">
                        <label>
                            <input type="checkbox" name="max_travelers_finalized" {% if trip.max_travelers_finalized
                                %}checked{% endif %} data-locked="{{ 'true' if trip.max_travelers_finalized else 'false' }}">
                            Finalize
                        </label>
                    </div>
                </div>
                <div class="single-entry3">
                    <input type="checkbox" id="ageToJoinToggle" name="use_age_range" {% if trip.min_age is not none and
                        trip.max_age is not none %}checked{% endif %}>
                    <label for="ageToJoinToggle">Age:</label>

                    <div class="double-range">
                        <div class="slider-container">
                            <div class="range-slider">
                                <span class="range-fill"></span>
                            </div>

                            <div class="range-input">
                                <input type="range" class="min" min="0" max="100"
                                    value="{{ 30 if trip.min_age is none else trip.min_age }}" step="1"
                                    id="age-min-slider">
                                <input type="range" class="max" min="0" max="100" value="{{ trip.max_age or 70 }}"
                                    step="1" id="age-max-slider">
                            </div>

                            <div class="text-input">
                                <label for="min-age" class="range-label">From:</label>
                                <input type="number" name="min_age" id="min-age"
                                    value="{{ 30 if trip.min_age is none else trip.min_age }}">
                                <label for="max-age" class="range-label max-label">To:</label>
                                <input type="number" name="max_age" id="max-age" value="{{ trip.max_age or 70 }}">
                            </div>
                        </div>
                    </div>
                    <div class="checkbox-wrapper">
                        <label>
                            <input type="checkbox" name="age_range_finalized" id="ageToJoinFinalizedToggle" {% if
                                trip.age_range_finalized %}checked{% endif %} data-locked="{{ 'true' if trip.age_range_finalized else 'false' }}">
                            Finalize
                        </label>
                    </div>
                </div>

                <div class="single-entry3 {{ 'finalized' if trip.university_finalized }}">
                    <input type="checkbox" id="universitySpecificToggle" 
                        {% if trip.university is not none %}checked{% endif %}>
                    <label for="university_specific" class="disabled">Restrict to a Specific University:</label>
            
                    <select id="university_specific" name="university_specific">
            
                        <option value="" {% if not trip.university %} selected {% endif %}>No restriction</option>
                        <option value="home_only" {% if trip.university == 'home_only' %} selected {% endif %}>Home university only</option>
                        <option value="visiting_only" {% if trip.university == 'visiting_only' %} selected {% endif %}>Visiting university only</option>
                        <option value="both" {% if trip.university == 'both' %} selected {% endif %}>Both</option>
                    </select>

                    <div class="checkbox-wrapper">
                        <input type="checkbox"
                               name="university_finalized"
                               id="universityFinalizedToggle"
                               {% if trip.university_finalized %}checked{% endif %}
                               data-locked="{{ 'true' if trip.university_finalized else 'false' }}">
                               <span>Finalize</span>
                    </div>
                </div>

                <div class="single-entry3">
                    <label class="trip-image">Trip Image: </label>
                    <input type="file" id="trip_image" name="trip_image" accept="image/*">
                </div>
            </div>
            <div class="navigation-buttons">
                <button type="button" id="prevStep" class="navigation-button">Back</button>
                <div class="progress">○&nbsp;&nbsp;○&nbsp;&nbsp;⬤</div>
                <button type="submit" class="navigation-button" id="submit-button">Submit</button>
            </div>
        </div>
    </form>
</div>


{% endblock %}