{% block head %}
    <title> Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}"/>
{% endblock %}

{% extends 'base.html' %}

{% if current_user.is_authenticated %}
    <div>User: {{current_user.name}}</div>
{% endif %}
{% block content %}
    <div class="main-container">
        <div class="edit-container">
            <h2>Edit Profile Details   </h2>
            <form class="form-container" action="{{ url_for('auth.edit_profile_post') }}" method="post" enctype="multipart/form-data">
                <div class="credential-inputs">
                    <input type="text" name="description" placeholder="Description" value = "{{ current_user.desc or '' }}" />
                    <input type="date" name="birthday" placeholder="Birthday" value = "{{ current_user.birthday or '' }}" required />
                    <input type="text" name="home_uni" placeholder="Home University" value = "{{ current_user.home_uni or '' }}" required />
                    <input type="text" name="visiting_uni" placeholder="Visiting University" value = "{{ current_user.visiting_uni or '' }}" required/>
                    <input type="text" name="country" placeholder="Country" value = "{{ current_user.country or '' }}" required/>
                    <input type="file" id="profile_pic" name="profile_pic" accept="image/*" >
                </div>
                <div class="edit-profile-buttons">
                    <input type="submit" value="Save Changes"/>
                    <br><br>
                    <a href="{{ url_for('main.profile', user_id=current_user.id) }}">
                        <button type="button">Return to Profile Page</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}