{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}


{% block content %}
<div class="container">
  <div class="top-container">
    <div class="trapezoid-overlay">
      <h1>Welcome!</h1>
      <p>Start your great adventure now.</p>

      <a href="/form">
        <button class="primary-button">Create a new trip!</button>
      </a>
      <a href="/browse">
        <button class="secondary-button">Browse trips</button>
      </a>
    </div>

    <img src="../../static/resources/index-background.jpeg"/>
  </div>

  
  <div class="trip-contents">
    <h1>Recently added trips</h1>
    {% set trips = latest_trips %}
    {% include 'trips_template.html' %}
  </div>

</div>
{% endblock %}