{% extends 'base.html' %} {% block content %}
<div class="single_trip_container">
  {% include 'trip_template.html' with context %}
  <section>
    <h2>Reply to the trip</h2>
    <form action="{{ url_for('main.new_trip')}}" method="post">
      <textarea
        name="text"
        rows="4"
        cols="50"
        placeholder="What's on your mind?"
      ></textarea>
      <br />
      <input type="hidden" name="response_to" value="{{ trip.id }}">
      <button type="submit">Publish</button>
    </form>
  </section>
  <div class="replies_section">
    {% for trip in responses %}
      {% include 'trip_template.html' %}
    {% endfor %}
  </div>
</div>
{% endblock %}
