{% extends "base.html" %} 
{% block head %}
    <title>{{user.name}}'s profile - Travel together</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"/>
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content">
  <div class="profile-container">
    <div class="profile-container-lefthand">
      <img class="pfp" src="{{ url_for('static', filename='resources/' ~ (user.profile_pic or 'Defaultpfp.png')) }}">
      <div class="lefthand-contents">
        <div class="user-name">
          <div class="user-name-with-flag">
            <img class="user-flag" src="https://flagsapi.com/{{user.country}}/flat/32.png">
            <h2>{{ user.name }}</h2>
          </div>
          {% if user.id == current_user.id %}
          <a href="{{ url_for('auth.edit_profile', user_id=current_user.id) }}">
            <button type="submit">Edit Profile</button>
          </a>
          {% endif %}
        </div>
        <div class="user-description">
          {% if user.desc %}
            "{{ user.desc }}"
          {% else %}
            {{ user.name }} has not yet added a description...
          {% endif %}
        </div>
      </div>
    </div>
    <div class="righthand-contents">
      <div class="righthand-line">
        <p>{{user.age}} years old</p>
        <img class=icon src="{{ url_for('static', filename='resources/bday.png') }}">
      </div>
      <div class="righthand-line">
        <p>{{user.home_uni}}</p>
        <img class=icon src="{{ url_for('static', filename='resources/home-uni.png') }}">
      </div>
      <div class="righthand-line">
        {% if user.visiting_uni %}
          <p>{{ user.visiting_uni }}</p>
        {% else %}
          <p>N/A</p> 
        {% endif %}
        <img class=icon src="{{ url_for('static', filename='resources/visiting-uni.png') }}">
      </div>
    </div>
      
  </div>
  <div class="trip-contents">
    <h1> Trips {{ user.name }} participates in: </h1>
    <section>{% include 'trips_template.html' %}</section>
  </div>
</div>
<div>
  <a href="{{ url_for('main.index') }}">
    <button type="submit">Return</button>
  </a>
</div>
{% endblock %}
