{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter</title>
  </head>
  <body>
    <div class="container">
      <h1>Twitter</h1>
      <h2>Home</h2>
      <p>See the most recent activity for you.</p>
    </div>
    {% block content %}
    <section>
      <h2>Create a new post</h2>
      <form action="{{ url_for('main.new_post')}}" method="post">
        <textarea
          name="text"
          rows="4"
          cols="50"
          placeholder="What's on your mind?"
        ></textarea>
        <br />
        <button type="submit">Publish</button>
      </form>
    </section>
    <section>
      <h2>Latest posts from the people you follow</h2>
      {% set posts = following_posts %}
      {% include 'posts_template.html' %}

      <h2>Latest posts</h2>
      {% set posts = latest_posts %}
      {% include 'posts_template.html' %}
    </section>
    {% endblock %}
  </body>
</html>
