.content {
    width: 100%;
}

.profile-container {
    padding: 2vw 4vw;
    height: 10vw;
    width: calc(100% - 8vw - 0.5vh);

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
    border: 0.25vh solid rgba(0, 0, 0, 0.2);

    background-color: rgba(255, 255, 255, 0.531);
}

.pfp {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin-right: 2vw;
    object-fit: cover;
}

.profile-container-lefthand {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 40vw;
    height: 100%;
}

.lefthand-contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 20vw;
    height: 100%;
}

.user-name-with-flag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
}

.user-name {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    justify-content: flex-start;
}

.user-name img {
    width: 2vw;
    height: 2vw;
    object-fit: contain;
    object-fit: cover;
}

.user-name button {
    padding: 0.2vw 0.5vw;
    border: 0.3vh solid black;
    cursor: pointer;
}

.user-description {
    font-style: italic;
    color: gray;
}

.righthand-contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 40vw;
    height: 100%;
}

.righthand-line {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    margin-left: auto;
}

.righthand-line img {
    width: 1.5vw;
    height: 1.5vw;
    object-fit: contain;
}

.trip-contents {
    margin-top: 30px;
}

.trip-contents h1 {
    margin-left: 2vw;
    font-size: 2vw;
}

.trip-contents p {
    text-align: justify;
    font-size: 0.8vw;
}
