body {
    margin-bottom: 3vh;
}

.trips {
    padding: 2vw;
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(auto-fill, 22.5vw);
}

a.trip-link {
    text-decoration: none;
    color: inherit;
}

.trip-container {
    background-color: rgba(100, 100, 100, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 0.5vw;
}

.trip-container img.trip-photo {
    width: 100%;
    height: 13vw;
    object-fit: cover;
    border-radius: 8px;
}

.trip-container h2 {
    text-align: center;
    font-size: 1.5vw;
    text-transform: capitalize;
}


.trip-description {
    height: 3vw;
}

/*text overflow handling (with help of generative AI*/
.trip-title,
.trip-origin,
.trip-destinations {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trip-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}