#formPopupModal {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 35vw;
    height: calc(100% - 60px);
    background: #D6C6AF;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    overflow: hidden;
    z-index: 100;
    box-shadow: -10px 0px 13px -7px #000000, -50px 0px 50px 5px rgba(0,0,0,0);
}

#formPopupContent
{
    z-index: 101;
    height: calc(100% - 60px);
}

#trip-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

.form-header {
    text-align: center;
}

.step-header {
    position: fixed;
    padding-top: 1vw;
    font-size: 1.3vw;
    align-self: center;
}

.form-step {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 0.2vh solid black;
}

.form-entries {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
}

.progress {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.5vw;
}

.single-entry {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.single-entry label {
    text-align: center;
}

.single-entry3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1vw;
}

#departure_location {
    margin-bottom: 2vh;
}

.destination-entry {
    display: flex;
    flex-direction: row;
}

.add-destination {
    text-align: right;
    color: grey;
    cursor: pointer;
    text-decoration: underline;
}

.remove-destination {
    background-color: #D6C6AF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid darkgrey;
    text-align: center;
    cursor: pointer;
}

.date-entries {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

/*=========================== INPUTS ===========================*/
select,
input[type="date"]{
    width: 100%;
    padding: 0.5vw;
    background-color: #f2e0c3;
    border-radius: 15px;
    border: 1px solid darkgrey;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: black;
    resize: vertical;
    line-height: 1.5;
    height: 2.5vw;
    margin-top: 1vh;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5vw;
    background-color: #f2e0c3;
    border-radius: 15px;
    border: 1px solid darkgrey;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: black;
    resize: none;
    line-height: 1.5;
    height: 15em;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1vw;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5vw;
    background-color: #f2e0c3;
    border-radius: 15px;
    border: 1px solid darkgrey;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    height: 2.5vw;
    padding-left: 1vw;
}

input[type="number"] {
    width: 5vw;
    box-sizing: border-box;
    padding: 0.5vw;
    background-color: #f2e0c3;
    border-radius: 15px;
    border: 1px solid darkgrey;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    height: 2.5vw;
    margin-left: auto;
}

input.additional-destination {
    border-radius: 0;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.navigation-button {
    padding: 0.8vw;
    background-color: #f2e0c3;
    border-radius: 15px;
    border: 1px solid darkgrey;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 1.1vw;
    cursor: pointer;
    text-align: center;
    transition: 0.15s ease-in-out;
}

.navigation-button:hover {
    background-color: #e7d3b0;
}

.navigation-button:active {
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
}

/*Range slider - using https://cdn.jsdelivr.net/gh/jahiidh/double-range-slider/d.slider.css */
.range-slider {
    height: 0.2vw;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 0.3vw;
    left: 0.2vw;
}

.range-fill {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 0.4vw;
    background-color: #8a7e6a;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 0.6vw;
    top: -1vw;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
    height: 1.3vw;
    width: 1.3vw;
    border-radius: 50%;
    background-color: #8a7e6a;
    border: 0.45vw solid #8a7e6a;
    pointer-events: auto;
    -webkit-appearance: none;
    cursor: pointer;
}

.range-input input::-moz-range-thumb {
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    background-color: #e90000;
    border: 0.25vw solid #8a7e6a;
    pointer-events: auto;
    -moz-appearance: none;
    cursor: pointer;
}

.text-input {
    margin-left: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.max-label {
    margin-left:auto;
}

.double-range {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1vw;
}

.slider-container {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    flex: 1;
    min-width: 0;
}

/* ================= CHECKBOXES/FINALIZATION ================= */

.single-entry3 .checkbox-wrapper {
    margin-left: 0;
}